




### Composer ###
composer.phar
/vendor/


## Config ##
#config.php
error_log.txt
.buildpath
.project
launch.json


### VisualStudioCode ###
.vscode

### VisualStudioCode Patch ###
# Ignore all local history of files
.history