# Tornando url amigáveis
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?path=$1 [QSA,L]

# Bloqueia acesso a diretorios
Options All -Indexes

# Protegendo de acesso direto
<files ~ "^.*\.([Hh][Tt][Aa])">
    order allow,deny
    deny from all
    satisfy all
</files>

# Forçando UTF-8
<FilesMatch ".(htm|html|css|js)$">
    AddDefaultCharset UTF-8
</FilesMatch>

# Páginas de erros personalizadas
ErrorDocument 404 /erros/notfound.html
ErrorDocument 400 /erros/badrequest.html
ErrorDocument 401 /erros/authreqd.html
ErrorDocument 403 /gclinic/public_html/forbidden.html
ErrorDocument 500 /erros/serverr.html