/*Formatação do topo*/
.navbar-default {
    box-shadow: 0px 2px 5px 0px rgb(133, 138, 138) !important;
    background-color: #3d3d3d !important;
}

/*Formatação campos horarios de atendimentos*/
#dom-1, #dom-2, #seg-1, #seg-2, #ter-1, #ter-2, #qua-1, #qua-2, #qui-1, #qui-2, #sex-1, #sex-2, #sab-1, #sab-2{
    text-align: center;
}

/* Incluimos aqui a fonte do site */
/* latin */
@font-face {
    font-family: 'Abel';
    font-style: normal;
    font-weight: 400;
    src: local('Abel'), local('Abel-Regular'), url('Abel.woff2') format('woff2');
}


/* Define a fonte do sistema @font-family */
*{
    font-family: 'Abel', sans-serif;
}


/* Inputs formatação extra formularios com estilização extra */
.form-compact {
    font-size: 0.8em;
    margin-bottom: 8px;
}

.form-compact .form-control {
    /*padding: 2px 2px;*/
    /*height: auto;*/
    font-size:1.2em;
    text-align: center;

}


.form-compact label {
    margin-bottom: 1px;
}
.form-compact .form-group
{
    margin-bottom: 0px;
}


/* Agenda correções */
.panel-refresh {
    height:250px;
    position:relative;
}

.refresh-container {
    position:absolute;
    top:0;
    right:0;
    background:rgba(200,200,200,0.25);
    width:100%;
    height:100%;
    display: none;
    text-align:center;
    z-index:4;
}
.refresh-spinner {
    padding: 30px;
    opacity: 0.8;
}



/* DataPicker estilização dos campos do calendario */
th.today {
    color: forestgreen !important;
}

th.clear {
    color: crimson !important;
}

/*Fornecedores modal*/
.list-modal-forn > li{
    margin-bottom: 3px;
}

input, select, textarea{
    color: #dd5600 !important;
}


/* Navbar menu dropdown menu multi nivel desativado pois não ouve necessidade de usar menu multinivel ainda 

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
*/



/* Menu de login topo estilizações */
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

/*  Media queries necessarias */
@media screen and (min-width: 992px)
{
    /* CSS Document */
    
    .permission-help{
        margin: 36px 0 0 0;
    }
    span.marg-top{
        display: none !important;
    }
}

/*  Media queries necessarias */
@media screen and (max-width: 383px)
{
    /* CSS Document */
    
    .marg-top{
        margin:3px 0 0 0 ;
    }
   
}

#permission-select option {
    margin-bottom: 1px; 
	
}


/* Formulario cadastro de pessoal *Funcionarios */



.acess-card{
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
     -webkit-transition: all 0.5s linear 0.5s;
    -moz-transition: all 0.5s linear 0.5s;
    -o-transition: all 0.5s linear 0.5s;
    transition: all 0.5s linear 0.5s;
}

.acess-card:hover{
    box-shadow: 0px 0px 8px -2px #00bcd4 !important;
    -webkit-box-shadow: 0px 0px 8px -2px #00bcd4 !important;
    -moz-box-shadow: 0px 0px 8px -2px #00bcd4 !important;
    border: 1px solid #00bcd4 !important;
    -webkit-transition: all 0.5s linear 0.5s;
    -moz-transition: all 0.5s linear 0.5s;
    -o-transition: all 0.5s linear 0.5s;
    transition: all 0.5s linear 0.5s;
}

.acess-card select{
    border: none;
    overflow-y: hidden;
    -webkit-transition: all 0.5s linear 0.5s;
    -moz-transition: all 0.5s linear 0.5s;
    -o-transition: all 0.5s linear 0.5s;
    transition: all 0.5s linear 0.5s;
}

.acess-card select::-webkit-scrollbar { width:10px; background:#e3e0d6; } /* configurando scroll */
.acess-card select::-webkit-scrollbar-track { background: rgba(0,0,0,0.1); }
.acess-card select::-webkit-scrollbar-thumb { border-radius:10px; background:#A6A6A6;  }

.acess-card select::scrollbar { width:10px; background:#e3e0d6; } /* configurando scroll */
.acess-card select::scrollbar-track { background: rgba(0,0,0,0.1); }
.acess-card select::scrollbar-thumb { border-radius:10px; background:#A6A6A6;  }


.acess-card select:focus{
    overflow-y: auto;
    background-color: #FFFFCC;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    
}

.card{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    border: none !important;
}


.form-control{
    box-shadow: none !important;
    border-radius: 3px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: all 0.3s linear 0.3s;
    -moz-transition: all 0.3s linear 0.3s;
    -o-transition: all 0.3s linear 0.3s;
    transition: all 0.3s linear 0.3s;
}

.form-control:focus{
    box-shadow: 0px 0px 8px -2px #00bcd4 !important;
    -webkit-box-shadow: 0px 0px 8px -2px #00bcd4 !important;
    -moz-box-shadow: 0px 0px 8px -2px #00bcd4 !important;
    border: 1px solid #00bcd4 !important;
    -webkit-transition: all 0.3s linear 0.3s;
    -moz-transition: all 0.3s linear 0.3s;
    -o-transition: all 0.3s linear 0.3s;
    transition: all 0.3s linear 0.3s;
}


/*
Formatação para barra de rolagem ainda nao tive interesse em utilizar nao foi necessario ainda
::-webkit-scrollbar              { opacity: 0.9; }
::-webkit-scrollbar-button       {  }
::-webkit-scrollbar-track        {  }
::-webkit-scrollbar-track-piece  {  }
::-webkit-scrollbar-thumb        {  }
::-webkit-scrollbar-corner       {  }
::-webkit-resizer                {  }
*/
    

/*Tabela de registros*/
.cabe-title{
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fcf7+0,f5f9f0+100;L+Green+3D */
   background: rgb(249,252,247); /* Old browsers */
   background: -moz-linear-gradient(top,  rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  rgba(249,252,247,1) 0%,rgba(245,249,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */ 
}


/*Tabelas em geral estilização extra*/
table.table-meio > tbody > tr > td {
    vertical-align: middle !important;
}

.input-result{
    font-weight: bold !important;
    font-size: 125% !important;
}



/* Quadro de avisos estilização */
.notice:first-child{
    margin-top: 0px;
    }
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
.notice>.desc{
    display:none;
    }
.readMore{
    cursor:pointer;
}


/*Estilizações usuais gerais necessarias para alguns casos*/ 

margin-top-1{
    margin-top: 5px !important;
}



/*Table pesquisa*/

.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}
