
.navbar-default {
    box-shadow: #d8d8d8 2px 1px 2px;
}

/*Formatação campos horarios de atendimentos*/
#dom-1, #dom-2, #seg-1, #seg-2, #ter-1, #ter-2, #qua-1, #qua-2, #qui-1, #qui-2, #sex-1, #sex-2, #sab-1, #sab-2{
  text-align: center;
}

/* Incluimos aqui a fonte do site */
/* latin */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: local('Abel'), local('Abel-Regular'), url('Abel.woff2') format('woff2');
}


/* Define a fonte do sistema @font-family */
*{
    font-family: 'Abel', sans-serif;
}







/* Inputs formatação extra */
.form-compact {
  font-size: 0.8em;
  margin-bottom: 8px;
}

.form-compact .form-control {
  /*padding: 2px 2px;*/
  /*height: auto;*/
  font-size:1.2em;
  text-align: center;

}


.form-compact label {
  margin-bottom: 1px;
}
.form-compact .form-group
{
  margin-bottom: 0px;
}

/*  Input border radius*/
/*.form-control{
    border-radius: 2px !important;
}*/

/* Agenda correções */
.panel-refresh {
 height:250px;
 position:relative;
}

.refresh-container {
 position:absolute;
 top:0;
 right:0;
 background:rgba(200,200,200,0.25);
 width:100%;
 height:100%;
 display: none;
 text-align:center;
 z-index:4;
}
.refresh-spinner {
 padding: 30px;
 opacity: 0.8;
}



/* DataPicker estilização dos campos do calendario */
th.today {
    color: forestgreen !important;
}

th.clear {
    color: crimson !important;
}

/*Fornecedores modal*/
.list-modal-forn > li{
    margin-bottom: 3px;
}

input, select, textarea{
    color: #dd5600 !important;
}


/* Botão selecionar tipo de usuário Página --> user-register*/

    .dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}